@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jersey+20&family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100vw;
    height: auto;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 95%;
    height: 95%;
    background-color: #f9f0f1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin: 10px;
    padding: 8px;
    height: 70px;
    width: 93vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 36px;
    border: 1px solid #C5C5C5;
    box-shadow: 0px 5px 13px 0px #959595;
    font-family: "Itim", serif;
    position: fixed;
    z-index: 200000;
}

@media (max-width: 414px) {
    .nav {
        height: 47px;
    }
}

.nav>div:first-child {
    letter-spacing: 4px;
    padding: 10px;
    color: #DEB9B9;
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 1327px) {
    .nav>div:first-child {
        font-size: 2.5rem;
    }
}

@media (max-width: 806px) {
    .nav>div:first-child {
        font-size: 2rem;
    }
}

@media (max-width: 690px) {
    .nav>div:first-child {
        font-size: 1.3rem;
    }
}

@media (max-width: 491px) {
    .nav {
        height: 42px;
    }

    .nav>div:first-child {
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
}

@media (max-width: 331px) {
    .nav>div:first-child {
        font-size: 0.9rem;
        letter-spacing: 0px;
    }
}

.nav>div:nth-child(2) {
    content: "";
    width: 3px;
    height: 80%;
    background-color: #F3EDED;
}

.nav>div,
.search,
.notification {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search,
.notification {
    cursor: pointer;
}

.nav>div {
    height: 44px;
}

.nav>div:nth-child(3) {
    display: flex;
    gap: 46px;
}

.search>img,
.notification>img {
    height: 44px;
}

.search>span,
.notification>span {
    font-size: 26px;
}

.moto {
    margin-top: 90px;
    width: 97%;
    height: 647px;
    border-radius: 36px;
    overflow: hidden;
    position: relative;
    box-shadow: 4px 5px 15px 2px;
}

@media (max-width: 690px) {
    .moto {
        border-radius: 16px;
    }
}

@media (max-width: 491px) {
    .moto {
        margin-top: 65px;
    }
}

@media (max-width: 419px) {
    .moto {
        height: 403px;
    }
}

@media (max-width: 309px) {
    .moto {
        height: 317px;
    }
}

.moto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.moto h3 {
    font-family: "Jersey 20", serif;
    color: #a15353;
    font-size: 9rem;
    width: 100%;
    position: absolute;
    top: 55%;
    text-align: center;
    letter-spacing: 4px;
}

@media (max-width: 1530px) {
    .moto h3 {
        font-size: 6rem;
    }
}

@media (max-width: 1053px) {
    .moto h3 {
        font-size: 4rem;
    }
}

@media (max-width: 419px) {
    .moto h3 {
        font-size: 2rem;
        letter-spacing: 0;
    }
}

@media (max-width: 309px) {
    .moto h3 {
        font-size: 1.5rem;
    }
}

.moto>h3 span:first-child {
    color: #435261;
}

.moto>h3 span:nth-child(2) {
    color: #655466;
}

.moto>div {
    font-family: "Jersey 20", serif;
    cursor: pointer;
    padding-left: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 351px;
    height: 80px;
    background-color: #ffffff99;
    color: #4a5765;
    border-radius: 70px;
    font-size: 55px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 5px 15px 2px;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1050px) {
    .moto>div {
        width: 248px;
        height: 62px;
        font-size: 40px;
    }
}

@media (max-width: 710px) {
    .moto>div {
        width: 194px;
        height: 53px;
        font-size: 30px;
        padding-left: 6px;
    }
}

@media (max-width: 512px) {
    .moto>div {
        width: 152px;
        height: 48px;
        font-size: 25px;
        padding-left: 6px;
    }
}

@media (max-width: 373px) {
    .moto>div {
        width: 122px;
        height: 37px;
        font-size: 18px;
    }
}

.moto>div:hover {
    scale: 1.03;
}

.moto>div>div {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: #fff3bc;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1050px) {
    .moto>div>div {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 710px) {
    .moto>div>div {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 512px) {
    .moto>div>div {
        width: 30px;
        height: 30px;
    }
}

.moto>div>div>img {
    width: 76%;
}

.facilities {
    font-family: "Jersey 20", serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 31px;
    gap: 75px;
}

.card {
    width: 362px;
    height: 379px;
    border-radius: 36px;
    padding: 32px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 7px 8px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 395px) {
    .card {
        height: 320px;
    }
}

@media (max-width: 354px) {
    .card {
        width: 269px;
        height: 252px;
    }
}

.card:hover {
    scale: 1.05;
}

.card h1 {
    letter-spacing: 5px;
    font-size: 53px;
}

@media (max-width: 400px) {
    .card h1 {
        font-size: 42px;
    }
}

@media (max-width: 354px) {
    .card h1 {
        font-size: 30px;
    }
}

.card>img {
    mix-blend-mode: multiply;
    width: 70%;
    opacity: 0.7;
    margin-left: 14%;
}

.card>div {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #bdb48b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card>div>img {
    width: 50px;
}

@media (max-width: 395px) {
    .card>img {
        width: 61%;
    }

    .card>div {
        height: 46px;
        width: 46px;
    }

    .card>div>img {
        width: 30px;
    }
}

.card1 {
    background-color: #fffc9f;
    color: #bdb48b;
}

.card1>div {
    background-color: #bdb48b;
}

.card2 {
    background-color: #9fbaff;
    color: #ccd3fd;
}

.card2>div {
    background-color: #ccd3fd;
}

.card3 {
    background-color: #ff9fa0;
    color: #ea6466;
}

.card3>div {
    background-color: #ea6466;
}

.card3>img {
    mix-blend-mode: hard-light;
    transform: rotate(-39deg);
}

.card4 {
    background-color: #e0afd4;
    color: #975174;
}

.card4>div {
    background-color: #975174;
}

.motive {
    font-family: "Jersey 20", serif;
    width: 95%;
    height: 90px;
    padding: 0 30px;
    background-color: #f8d8d9;
    border-radius: 47px;
    display: flex;
    align-items: center;
    gap: 34px;
}

@media (max-width: 761px) {
    .motive {
        height: 72px;
        gap: 11px;
    }
}

@media (max-width: 625px) {
    .motive {
        height: 51px;
        gap: 17px;
    }
}

@media (max-width: 493px) {
    .motive {
        height: 42px;
        gap: 17px;
    }
}

@media (max-width: 385px) {
    .motive {
        padding: 0 12px;
        gap: 6px;
    }
}

@media (max-width: 341px) {
    .motive {
        padding: 0 10px;
    }
}

.motive>img {
    width: 48px;
}

@media (max-width: 761px) {
    .motive>img {
        width: 36px;
    }
}

@media (max-width: 625px) {
    .motive>img {
        width: 33px;
    }
}

@media (max-width: 493px) {
    .motive>img {
        width: 25px;
    }
}

.motive>span {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #a15354;
}

@media (max-width: 1030px) {
    .motive>span {
        font-size: 42px;
    }
}

@media (max-width: 761px) {
    .motive>span {
        font-size: 32px;
    }
}

@media (max-width: 625px) {
    .motive>span {
        font-size: 24px;
    }
}

@media (max-width: 498px) {
    .motive>span {
        font-size: 22px;
        letter-spacing: 0;
    }
}

.vision {
    font-family: "Jockey One", serif;
    width: 98%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #425160;
}

.vision>h1 {
    position: relative;
    font-size: 80px;
    letter-spacing: 4px;
}

@media (max-width: 837px) {
    .vision>h1 {
        font-size: 57px;
    }
}

@media (max-width: 759px) {
    .vision>h1 {
        font-size: 48px;
    }
}

@media (max-width: 637px) {
    .vision>h1 {
        font-size: 45px;
    }
}

@media (max-width: 385px) {
    .vision>h1 {
        font-size: 32px;
    }
}

.vision>h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 5px;
    background-color: #425160;
}

@media (max-width: 759px) {
    .vision>h1::after {
        bottom: 5px;
    }
}

@media (max-width: 385px) {
    .vision>h1::after {
        bottom: 0px;
    }
}

.vision>p {
    font-size: 31px;
    letter-spacing: 1px;
    text-align: justify;
}

footer {
    background-color: #b5a3a3;
    color: #000000;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 759px) {
    .vision>p {
        font-size: 24px;
    }
}

@media (max-width: 499px) {
    .vision>p {
        font-size: 17px;
    }
}

@media (max-width: 435px) {
    .vision>p {
        letter-spacing: 0;
    }
}

@media (max-width: 664px) {
    footer {
        height: 28px;
    }

    footer>p {
        font-size: 11px;
    }
}

@media (max-width: 435px) {
    footer>p {
        font-size: 10px;
    }
}

@media (max-width: 396px) {
    footer {
        height: 23px;
    }

    footer>p {
        font-size: 8px;
        font-weight: 700;
    }
}